<div class="container">
  <menu></menu>

  <notice></notice>

  <h1>Salas</h1>
  <div class="buttons">
    <button class="btn btn-primary" ng-click="newRoom()">Nova Sala</button>
  </div>

  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="#my-rooms" data-toggle="tab">Minhas Salas</a>
      </li>
      <li role="presentation">
        <a href="#participating-rooms" data-toggle="tab">Salas a que pertenço</a>
      </li>
      <li role="presentation">
        <a href="#search-rooms" data-toggle="tab">Buscar</a>
      </li>
      <li role="entry-requests">
        <a href="#entry-requests" data-toggle="tab">Pedidos</a>
      </li>
    </ul>
    <div class="tab-content clearfix">
      <div class="col-lg-12 tab-pane active" id="my-rooms">
        <h2>Minhas salas</h2>
        <span us-spinner spinner-theme="small" spinner-key="my-rooms" spinner-start-active="true"></span>
        <table class="table">
          <tbody>
            <tr ng-repeat="room in rooms">
              <td class="room-label">
                <a href="javascript:;" ng-click="goToRoom(room)">
                  {{ room.name }}
                </a>
              </td>
              <td class="delete-button">
                <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteRoom(room)" ng-if="room.authorIsUser()">
                  Apagar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 tab-pane" id="participating-rooms">
        <h2>Salas a que pertenço</h2>
        <span us-spinner spinner-theme="small" spinner-key="participating-rooms" spinner-start-active="true"></span>
        <table class="table">
          <tbody>
            <tr ng-repeat="participatingRoom in participatingRooms">
              <td class="room-label">
                <a href="javascript:;" ng-click="goToRoom(participatingRoom)">
                  {{ participatingRoom.name }}
                </a>
              </td>
              <td class="delete-button">
                <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteRoom(participatingRoom)" ng-if="participatingRoom.authorIsUser()">
                  Apagar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 tab-pane" id="search-rooms">
        <h2>Buscar salas</h2>
        <span us-spinner spinner-theme="small" spinner-key="search-rooms" spinner-start-active="true"></span>
        <input type="text" class="form-control" ng-model="roomService.term" placeholder="Buscar" ng-change="search()">
        <table class="table">
          <tbody>
            <tr ng-repeat="searchedRoom in searchedRooms">
              <td class="room-label">
                <a href="javascript:;" ng-click="goToRoom(searchedRoom)">
                  {{ searchedRoom.name }}
                </a>
              </td>
              <td class="delete-button">
                <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteRoom(searchedRoom)" ng-if="searchedRoom.authorIsUser()">
                  Apagar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 tab-pane" id="entry-requests">
        <h2>Pedidos pendentes</h2>
        <span us-spinner spinner-theme="small" spinner-key="entry-requests" spinner-start-active="true"></span>
        <table class="table">
          <tbody>
            <tr ng-repeat="request in roomEntryRequests">
              <td class="request-label">
                {{ request.senderFullName() }} quer entrar na sala {{ request.room.name }}
              </td>
              <td class="delete-button">
                <a href="javascript:;" class="btn btn-primary" ng-click="accept(request)">
                  Aceitar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>