<div class="container">
  <menu></menu>

  <div class="alert alert-success" ng-show="notice">
    {{ notice }}
  </div>

  <div class="alert alert-danger" ng-show="error">
    {{ error }}
  </div>

  <h1>Salas</h1>
  <button class="btn btn-primary" ng-click="newRoom()">Nova Sala</button>

  <div class="row">
    <div class="col-lg-6">
      <h2>Minhas salas</h2>
      <span us-spinner spinner-theme="small" spinner-key="my-rooms" spinner-start-active="true"></span>
      <table class="table">
        <tbody>
          <tr ng-repeat="room in rooms">
            <td class="room-label">
              <a href="javascript:;" ng-click="goToRoom(room)">
                {{ room.name }}
              </a>
            </td>
            <td class="delete-button">
              <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteRoom(room)" ng-if="room.authorIsUser()">
                Apagar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Salas a que pertenço</h2>
      <span us-spinner spinner-theme="small" spinner-key="participating-rooms"></span>
      <table class="table">
        <tbody>
          <tr ng-repeat="participatingRoom in participatingRooms">
            <td class="room-label">
              <a href="javascript:;" ng-click="goToRoom(participatingRoom)">
                {{ room.name }}
              </a>
            </td>
            <td class="delete-button">
              <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteRoom(participatingRoom)" ng-if="participatingRoom.authorIsUser()">
                Apagar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>