<div class="container">
  <menu></menu>

  <notice></notice>

  <h1>{{ room.name }}</h1>
  <div class="buttons">
    <button class="btn btn-primary" ng-click="newTopic(room)" ng-if="room.authorIsUser() || room.belongsToUserParticipatingRooms() || sentRoomEntryRequest.accepted">Novo Tópico</button>
  </div>

  <div class="row">
    <h2>Tópicos</h2>
    <div class="col-lg-12" ng-if="!sentRoomEntryRequest && !room.belongsToUserParticipatingRooms()">
      Você não faz parte deste grupo. Gostaria de participar?

      <button ng-if="!room.public" class="btn btn-primary" ng-click="createRoomEntryRequest(room)">
        Enviar convite
      </button>
      <button ng-if="room.public" class="btn btn-primary">
        Participar
      </button>
    </div>

    <div class="col-lg-12" ng-if="sentRoomEntryRequest && !sentRoomEntryRequest.accepted">
      Seu convite aguarda aprovação.
    </div>

    <div class="col-lg-12" ng-if="room.belongsToUserParticipatingRooms() || sentRoomEntryRequest.accepted">
      <span us-spinner spinner-theme="small" spinner-key="my-topics" spinner-start-active="true"></span>
      <table class="table">
        <tbody>
          <tr ng-repeat="topic in room.topics">
            <td class="topic-label">
              <a href="javascript:;" ng-click="goToTopic(topic)">
                {{ topic.name }}
              </a>
            </td>
            <td>
              por: {{ topic.authorFullName() }} - {{ topic.createdDate() }}
            </td>
            <td class="delete-button">
              <a href="javascript:;" class="btn btn-danger delete-button" ng-click="deleteTopic(topic)" ng-if="room.authorIsUser()">
                Apagar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>