<div class="container">
  <menu></menu>

  <div class="alert alert-success" ng-show="notice">
    {{ notice }}
  </div>

  <div class="alert alert-danger" ng-show="error">
    {{ error }}
  </div>

  <h1>{{ room.name }}</h1>
  <button class="btn btn-primary" ng-click="newTopic(room)">Novo Tópico</button>

  <div class="row">
    <div class="col-lg-6">
      <h2>Tópicos</h2>
      <span us-spinner spinner-theme="small" spinner-key="my-topics" spinner-start-active="true"></span>
      <ul class="list-group">
        <li ng-repeat="topic in room.topics" class="list-group-item">
          <a href="javascript:;" ng-click="goToTopic(topic)">
            <h2>{{ topic.name }}</h2>
            <span>por: {{ topic.authorFullName() }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>