<div class="container">
  <menu></menu>

  <div class="alert alert-success" ng-show="notice">
    {{ notice }}
  </div>

  <div class="alert alert-danger" ng-show="error">
    {{ error }}
  </div>

  <p ng-show="newMessageForm.name.$invalid && newMessageForm.name.$dirty" class="alert alert-danger">Preencha o nome do Tópico</p>

  <h1>{{ topic.name }}</h1>

  <div class="row">
    <div class="col-lg-6">

      <form name="newMessageForm">
        <span us-spinner spinner-theme="small" spinner-key="create-room"></span>

        <div class="form-group">
          Mensagem:
          <textarea name="content" id="message-content" ng-model="message.content" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-default btn-primary" ng-click="createMessage(topic, message)" ng-disabled="newMessageForm.$invalid">Entrar</button>
      </form>

      <h2>Mensagens</h2>

      <ul class="list-group">
        <span us-spinner spinner-theme="small" spinner-key="my-topics"></span>
        <li class="list-group-item">
          <h2>{{ topic.name }}</h2>
          <p>{{ topic.content }}</p>
        </li>
        <li ng-repeat="message in topic.messages" class="list-group-item">
          <div class="message">
            <a href="javascript:;">
              <p>{{ message.content }}
            </a>
          </div>
          <div class="author">
            {{ message.authorFullName() }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>