
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.table {
  min-height: 100px;
}

.buttons {
  margin: 5px 0;
}

.list-group-item {
  .todo {
    background-color: red;
  }

  .doing {
    background-color: blue;
  }

  .done {
    background-color: green;
  }
}