<div class="container">
  <menu></menu>

  <div class="row row-centered">
    <div class="col-lg-4 col-centered">
      <span us-spinner spinner-theme="small" spinner-key="sign_up"></span>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Login</h1>
        </div>

        <div class="panel-body">
          <form name="signUpForm">
            <div class="alert alert-danger" ng-show="error">
              {{ error }}
            </div>

            <p ng-show="signUpForm.firstName.$invalid && signUpForm.firstName.$dirty" class="alert alert-danger">Preencha o campo de nome</p>
            <p ng-show="signUpForm.lastName.$invalid && signUpForm.lastName.$dirty" class="alert alert-danger">Preencha o campo de sobrenome</p>
            <p ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty" class="alert alert-danger">Preencha o campo de email</p>
            <p ng-show="signUpForm.course.$invalid && signUpForm.course.$dirty" class="alert alert-danget">Escolha o curso que está fazendo</p>
            <p ng-show="signUpForm.password.$invalid && signUpForm.password.$dirty" class="alert alert-danger">Preencha o campo de senha</p>
            <p ng-show="signUpForm.passwordConfirmation.$error.required && signUpForm.passwordConfirmation.$dirty" class="alert alert-danger">Preencha o campo de confirmação de senha</p>
            <p ng-show="signUpForm.passwordConfirmation.$error.passwordVerify && signUpForm.passwordConfirmation.$dirty" class="alert alert-danger">A senha e a confirmação de senha devem ser iguais</p>


            <div class="form-group">
              Nome:
              <input type="text" class="form-control" id="user-firstname" ng-model="user.firstName" name="firstName" ng-required="true">
            </div>

            <div class="form-group">
              Sobrenome:
              <input type="text" class="form-control" id="user-lastname" ng-model="user.lastName" name="lastName" ng-required="true">
            </div>

            <div class="form-group">
              Email:
              <input type="text" class="form-control" id="user-email" ng-model="user.email" name="email" ng-required="true">
            </div>

            <div class="form-group">
              Curso:
              <select type="text" class="form-control" id="user-course" name="course" ng-model="user.course_id" ng-required="true">
                <option value="{{ course.id }}" ng-repeat="course in courses">{{ course.name }}</option>
              </select>
            </div>

            <div class="form-group">
              Senha:
              <input type="password" class="form-control" id="user-email" ng-model="user.password" name="password" ng-required="true">
            </div>

            <div class="form-group">
              Confirmação de senha:
              <input type="password" class="form-control" id="user-email" ng-model="user.passwordConfirmation" name="passwordConfirmation" ng-required="true" compare-to="user.password">
            </div>

            <button type="submit" class="btn btn-default" ng-click="signUp(user)" ng-disabled="signUpForm.$invalid">Entrar</button>
          </form>
        </div>
      </div>
      <p>
        <a ng-click="goToLogin()" href="javascript:;">
          Login
        </a>
      </p>
    </div>
  </div>
</div>